.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.blg
*.aux
*.bbl
*.gz
*.pdf
*.brf
*.fdb_latexmk
*.fls
*.lof
*.out
*.lol
*.lot
*.toc
*.xml
*.bcf
thesis.synctex*
*metals*
!figures/*.pdf
*.dict
.vscode
thesis.pdf.zip